.application.frontend.theme--light
    background: linear-gradient(120deg, #4A90E2 60%, #39B1F5 40%)

    .application--wrap
        background: transparent
        

    .v-content__wrap
        background: transparent

    .v-toolbar
        &::after
            height: 0
            box-shadow: none