.application.account.theme--light
    background: linear-gradient(120deg, #4A90E2 55%, #FFFFFF 50%)

    .application--wrap
        background: transparent
        

    .v-content__wrap
        background: transparent

    .v-toolbar
        &::after
            height: 0
            box-shadow: none