@import '../loader';
@import '~vuetify/src/stylus/main';

// load component
@import './application';
@import './breadcrumb';
@import './card';
@import './content';
@import './datatable';
@import './flex';
@import './form';
@import './image';
@import './list';
@import './navigation';
@import './pagesearch';
@import './pagetool';
@import './toolbar';