.v-navigation-drawer
    &__border
        // display: none
        background-color: $blue-grey.lighten-4
    
    &.theme--light
        background-color: $grey.lighten-4

        .v-divider
            border-color: hsl(0, 0%, 93.3%)
    
    > .v-list
        .v-list__tile
            font-weight: 400